.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  background-color: #282c34;
  background-blend-mode: overlay;
  background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 40px 60px;
  box-sizing: border-box;

  @media screen and (max-width: 660px) {
    height: 100%;
  }

  &__descr {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
  }

  &__title {
    display: block;
    position: relative;
    float: left;
    color: white;
    font-size: 44px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    width: 100%;

    @media screen and (max-width: 660px) {
      font-size: 30px;
    }

    span {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      text-align: center;

      @media screen and (max-width: 660px) {
        text-align: left;
      }
    }
  }
}
